<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
</head>
<body>
<h3>Hello express with Firebase</h3>
<ul>
  <% for (let newcomer of newcomers) { %>
  <li><%- newcomer.name %></li>
  <% } %>
</ul>
</body>
</html>