<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%- title %></title>
</head>
<body>
<h3>Hello express with Firebase</h3>
<ul>
  <% for (let item of items) { %>
  <li><%- item.name %></li>
  <% } %>
</ul>
</body>
</html>