<!DOCTYPE html>
<html>
<head>
    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth__ja.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <title>ログイン | NC History</title>
</head>
<style>
    #loader {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<body>
<div id="firebaseui-auth-container"></div>
<div id="loader">
<!--    <h1>NC History</h1>-->
    <img id="logo" src="../images/logo.png" height="180">
    <br>
    <br>
    <div id="loading" style="font-size: 14px;">Loading...</div>
</div>

<!--<script type="text/javascript" src="src/dist/vue.js"></script>-->
<!--<script type="text/javascript" src="src/dist/vue.min.js"></script>-->
<!--<script type="text/javascript" src="src/dist/vuetify.js"></script>-->
<!--<script type="text/javascript" src="src/dist/vuetify.min.js"></script>-->

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script src="/__/firebase/7.23.0/firebase-app.js"></script>
<script src="/__/firebase/8.1.1/firebase-auth.js"></script>
<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>


<script type="text/javascript">
    var searchParams = (new URL(document.location)).searchParams;
    var redirectPath = searchParams.get("redirectPath");

      // FirebaseUI config.
    var uiConfig = {
        callbacks: {
            signInSuccessWithAuthResult: function(authResult, redirectUrl) {
                return true;
            },
            uiShown: function() {
                document.getElementById('loader').style.display = 'none';
            }
        },
        signInFlow: 'popup',
        signInSuccessUrl: redirectPath,
        signInOptions: [firebase.auth.EmailAuthProvider.PROVIDER_ID]
    };

      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // if (location.hostname === "localhost") {
      //   ui.useEmulator('http://localhost:9099/');
      // }
      setTimeout(function() {
        ui.start('#firebaseui-auth-container', uiConfig);
      }, 1000);

</script>
</body>
</html>