<v-row justify="center">
    <v-form ref="form" v-model="valid" lazy-validation
            :loading="loading" :disabled="loading"
    >
        <v-dialog
                v-model="dialog"
                fullscreen
                hide-overlay
                transition="dialog-bottom-transition"
        >
            <template v-slot:activator="{ on, attrs }">
                <v-footer fixed color="transparent" class="px-3 py-3">
                    <v-spacer></v-spacer>
                    <v-btn
                            color="info"
                            fab
                            v-bind="attrs"
                            v-on="on"
                            elevation="3"
                    >
                        <v-icon>mdi-plus</v-icon>
                    </v-btn>
                </v-footer>
            </template>
            <v-card>
                <v-toolbar
                        dark
                        color="primary"
                >
                    <v-btn
                            type="button"
                            icon
                            dark
                            @click="cancel"
                    >
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>命 新規登録</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark @click="register"
                               :loading="loading"
                               :disabled="!valid || loading"
                        >
                            保存
                        </v-btn>
                    </v-toolbar-items>
                </v-toolbar>

                <v-container>
                    <v-row>
                        <v-col cols="12">
                            <v-text-field
                                    v-model="profile.name"
                                    :rules="nameRules"
                                    :counter="20"
                                    label="名前（必須）"
                                    clearable
                                    required
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="8">
                            <v-text-field
                                    v-model="profile.belongs"
                                    :counter="20"
                                    label="学校/社会人"
                                    clearable
                            ></v-text-field>
                        </v-col>

                        <v-col cols="4">
                            <v-select
                                    v-model="profile.grade"
                                    :items="gradeList"
                                    label="学年"
                            ></v-select>
                        </v-col>
                    </v-row>

                    <v-row>
                        <v-col cols="12">
                            <v-textarea
                                    v-model="profile.memo"
                                    label="メモ"
                                    placeholder="興味関心、家族関係 etc."
                                    rows="3"
                                    counter="1000"
                                    auto-grow clearable
                            ></v-textarea>
                        </v-col>
                    </v-row>
                </v-container>

            </v-card>
        </v-dialog>
    </v-form>
</v-row>